html(lang="es")
head
meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet", type="text/css", href="static/assets/css/style.css")
link(rel="stylesheet", type="text/css" ,href="static/materialize-css/dist/css/materialize.min.css")
