doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css", href="../src/assets/css/main.css")
        link(rel="stylesheet", type="text/css" ,href="../node_modules/materialize-css/dist/css/materialize.min.css")
        link(href="https://fonts.googleapis.com/css?family=Maven+Pro", rel="stylesheet")
        title Replica con Pug
    body
         nav.nav-wrapper.white-color-back
            a(href="#").brand-logo.center
            img.tamano-logo.responsive-img(src="../src/assets/img/logoLetraNegra.png")
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a.black-text(href="#") About
                li
                    a.black-text.mg-right(href="#") Features
         div.container-fluid.primera-seccion
            div.containerfluid.primera-seccion-transp
                .row
                    mixin templateParrafo(encabezado, parrafo)
                        .col.s7
                            h3.estilo-encabezado.white-text #{encabezado}
                        .col.s6
                            p.white-text.estilo-parrafo #{parrafo}
                    +templateParrafo("Mobile Strategy App","Backyard is a modern and customizable landing page template designed to increase convertion of your product. Backyard is flexible to suit any kind of your business. Try now and join with our happy customers")
                .row
                    a.waves-effect.waves-light.btn.btn-large Features
                    a.waves-effect.waves-light.btn.btn-large.btn-claro Suscribe
                .row
                    span.white-text Available for:
                    img.img-apple(src="../src/assets/img/apple.png")
                    span.white-text IOS
                    img.img-apple(src="../src/assets/img/android.png")
                    span.white-text ANDROID
            div.container-fluid.segunda-seccion
                .row
                    .col.s6
                        img.img-phone(src="../src/assets/img/2.jpg")
                    .col.s6
                        +templateParrafo("Mobile Strategy App","Backyard is a modern and customizable landing page template designed to increase convertion of your product. Backyard is flexible to suit any kind of your business. Try now and join with our happy customers")


















